<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.Permission">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
    </sql>

    <select id="selectPermListByRole" resultType="com.warm.system.entity.Permission">
        SELECT
        t2.id,
        t2.name
        FROM
        role_permission t1
        LEFT JOIN permission t2
        ON t1.permission_id = t2.id
        <choose>
            <when test="roles != null and roles.size > 0">
                where t1.role_id in
                <foreach collection="roles" item="role" open="(" separator="," close=")">
                    ${role.id}
                </foreach>
            </when>
            <otherwise>
                where 1=0
            </otherwise>
        </choose>
    </select>

</mapper>
